*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Rubik:ital,wght@0,600;1,300;1,400&display=swap');